body {
    text-align: center;
}

header {
    margin: 0;
    background-color: black;
    height: 20vh;
}

.container-fluid {
    position: relative;
    min-height: 100vh;
}

.nav {
    padding: 0;
}

.header-img {
    background: url("../images/dragon-small.jpg");
    background-position: bottom middle;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0;
}

.header-img--left {
    transform: scaleX(-1);
    background-position: bottom middle;
}

.bars-mobile {
    font-size: 8vh;
}

footer {

    background-color: black;
    color: lightgray;
    width: 100%;
    padding: 5px;
    height: 5vh;
}