@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400&display=swap');

/* TEXT */

h1,
h2 {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 30px;
    margin: 40px auto;
    width: 100%;
    background-color: black;
    border: 1px solid burlywood;
    padding: 15px;
    text-align: center;
}

h2 {
    font-size: medium;
    padding: 15px 0px;
}

strong {
    color: burlywood;
}

hr {
    background-color: burlywood;
    margin: 0;
    width: 100%;
}

.fa-home {
    font-size: xx-large;
    color: burlywood;
}



/* CONTAINERS */

body {
    font-family: "Rubik", sans-serif;
    text-align: justify;
    background-color: rgb(24, 19, 19);
    color: lightgray;
    font-size: small;
}

.container-fluid {
    min-height: 80vh;
    padding: 0;
}

.container {
    padding: 0;
    margin: 0;
}

.row {
    padding: 0px;
    margin: 0px;
}

.full-width {
    width: 100vw;
    position: absolute;
    left: 0;
}


/* HEADER */

header {
    background-image: url("../images/nav-lizard.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: black;
}

.header {
    height: 15vh;
}

.blk-bg {
    background-color: black;
}

nav {
    text-align: right;
    padding: 10px 0px;
}

.navbar {
    padding: 0;
}

.nav-img {
    background-image: url("../images/dragon-small.jpg");
    background-color: black;
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
}

.nav-links {
    padding: 0px 5vw 0px 0px;
    margin: 0;
}

.nav-links li {
    justify-content: end;
}

.nav-link--collapse {
    text-align: right;
    padding: 2px 0px;
    width: 100%;
    height: 100%;
    font-size: large;
    color: lightgray;
}

.nav-link {
    display: inline-block;
    padding: 30px;
    text-transform: uppercase;
    font-size: x-large;
    color: lightgray;
}

.fa-bars {
    font-size: x-large;
    color: lightgray;
}

.navbar-toggler {
    right: 0;
    margin: 10px;
}

.lizard-logo {
    background-image: url("../images/nav-lizard.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.row .lizard-logo {}

/* TITLE & INTRO */

.page-intro {
    margin-top: 15px;
}

.page-title {
    padding: 20px 0px;
}

.hero {
    width: 100%;
    padding: 0 0 15px 0;
    margin: 0;
    overflow: auto;
}

.hero-div {
    padding: 0;
    margin: 0;
}

.hero-img {
    width: 90%;
    float: left;
    border: 1px solid burlywood;

}


/* INDEX PAGE */


/* INFO PAGE */

.accordion {
    width: 90%;
    margin: 20px auto;
    border: 1.5px solid burlywood;
    border-radius: 2px;
}

.info-article {
    border: none;
}

.card-header {
    background-color: black;
    padding: 0;
    border: none;
    margin: 0;
    border-radius: 0;
}

.card-body {
    background-color: black;
    color: lightgray;
    text-align: justify;
    padding: 12px;
    font-size: small;
    border: 0px;
    border-radius: 0px;
}

.btn-info {
    text-transform: uppercase;
    width: 100%;
    background-color: black;
    border: 0;
}

.btn-dark {
    text-transform: uppercase;
    width: 100%;
    background-color: black;
    color: lightgray;
    padding: 5px 0px;
    border: 0;
}

.btn-dark h2 {
    margin: 0;
}

.btn-dark:hover {
    background-color: black;
}


/* GUIDE PAGE */

.guide-article {
    border: 1.5px solid burlywood;
    width: 90%;
    margin: 0px auto 30px auto;
    background-color: black;
}

.guide-article p {
    text-align: justify;
    margin-top: 12px;
}

.guide-img {
    height: 200px;
    width: 90%;
    margin: 0 auto 10px auto;
}

.btn-guide {
    margin: 10px auto 5px auto;
    font-size: small;
    background-color: darkorange;
}

.guide-dropdown {
    margin: 20px auto 30px auto;
    width: 100%;
}

.dropdown-menu {
    width: 250px;
    margin-left: -85px;
    text-align: center;
    background-color: black;
    border: 2px solid burlywood;
    padding: 0;
}

.dropdown-item {
    color: lightgray;
    padding: 7 auto;
}

#firstDropdownItem {
    border-top: 0;
}

#firstArticle {
    background: url("../images/dragon-small.jpg");
    background: url("../images/dragon-small.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}


/* FOOTER */

footer {
    background-color: black;
    border-top: 1px solid burlywood;
}

.footer-button {
    text-align: center;
    padding: 0;
}

.btn-footer {
    color: lightgray;
    font-weight: lighter;
    font-size: small;
    box-shadow: none;
    padding: 12px 0px;
}

.btn-footer:active,
.btn-footer:hover {
    color: burlywood;
    box-shadow: none;
}

.btn-footer:focus {
    box-shadow: none;
}

.btn-footer:visited {
    color: lightgray;
    box-shadow: none;
}

.modal-dialog {
    position: absolute;
    bottom: 10vh;
    width: 100vw;
    margin: 0 10%;

}

.modal-body {}

.modal-content {
    border: 1px solid burlywood;
    border-radius: 3px;
    font-size: small;
    background-color: black;
    color: lightgray;
    width: 80%;
}


/* MEDIA QUERIES */

/* fix nav dropdown bg-img issue */
@media only screen and (max-width: 300px) {
    .nav-img {
        background-image: none;
    }
}

@media only screen and (max-width: 420px) {
    . {
        margin: 0;
    }
}

/* PHONE S, M */
@media only screen and (max-width: 576px) {
    .modal-dialog {
        max-width: none;
    }
}

/* PHONE L */
@media only screen and (min-width: 577px) {
    .modal-dialog {
        max-width: 60%;
        right: 10vw;
    }

    .page-title {
        padding: 30px 0;
    }

    .page-intro {
        padding-right: 0;
        margin-top: 0;
    }

    .hero {
        width: 90%;
        margin-left: 5%;
    }

    .hero-img {
        width: 100%
    }
}

/* TABLET */
@media only screen and (min-width: 768px) {
    body {
        font-size: small;
    }

    nav {
        height: 145px;
    }

    header {
        background-position: left;
    }

    h1 {
        font-size: 45px;
        margin: 25px 0;
    }
}

/* LAPTOP */
@media only screen and (min-width: 992px) {
    .container-fluid {
        width: 90%;
    }
}

/* PC */
@media only screen and (min-width: 1200px) {
    .container-fluid {
        width: 70%;
    }
}