/* TEXT */

body {
    text-align: center;
    background-color: black;
    color: lightgray;
    font-size: small;
}

.row {
    padding: 0px;
    margin: 0px;
}


h1,
h2 {
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: x-large;
}

h2 {
    font-size: medium;
    padding: 15px 0px;
}

strong {
    color: burlywood;
}

hr {
    background-color: burlywood;
    margin: 0;
    width: 100%;
}

.full-width {
    width: 100vw;
    position: absolute;
    left: 0;
}

/* MAIN CONTAINER */

.container-fluid {
    min-height: 93vh;
    padding: 0;
}

.container {
    padding: 0;
    margin: 0;
}

/* HEADER */

header {
    background-image: url("../images/nav-lizard.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

}

nav {
    text-align: right;
    padding: 10px 0px;
}
.navbar {
    padding: 0;
}

.nav-img {
    background-image: url("../images/dragon-small.jpg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
}

.nav-links {
    padding: 0px 5vw 0px 0px;
    margin: 0;

}

.nav-links li {
justify-content: end;
}

.nav-link {
    text-align: right;
    padding: 10px 0px;
    width: 100%;
    height: 100%;
    font-size: large;
    color: lightgray;
    font-weight: bold;
}

.nav-link-md {
    vertical-align: middle;
    text-align: center;
    justify-content: center;
  align-items: center;
}

.fa-bars {
    font-size: x-large;
    color: lightgray;
}

.navbar-toggler {
    right: 0;
    margin: 10px;
}


/* TITLE & INTRO */

.page-intro {
    margin-top: 15px;
}

.page-title {
    border-width: 1px 0px 0px 0px;
    border-color: burlywood;
    border-style: solid;
    padding: 15px 0px;
    /* margin-top: auto; */

    /* background: url("../images/dragon-largebg-3.jpg");
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: auto 100%; */

}

/* INDEX PAGE */

#index-links {
    /* width:100%; */
    justify-content: end;
}

.jumbo-page-img {
    width:80%;
    border: 1px solid burlywood;
}

/* INFO PAGE */

.accordion {
    width: 90vw;
    margin: 20px auto;
    border: 1.5px solid burlywood;
    border-radius: 2px;
}

.info-article {
    border: none;
}

.card-header {
    background-color: black;
    padding: 0;
    border: none;
    margin: 0;
    border-radius: 0;
}

.card-body {
    background-color: black;
    color: lightgray;
    text-align: justify;
    padding: 12px;
    font-size: small;
    border: 0px;
    border-radius: 0px;
}

.btn-info {
    text-transform: uppercase;
    width: 100%;
    background-color: black;
    border: 0;
}

.btn-dark {
    text-transform: uppercase;
    width: 100%;
    background-color: black;
    color: lightgray;
    padding: 5px 0px;
    border: 0;
}

.btn-dark h2 {
    margin: 0;
}

.btn-dark:hover {
    background-color: black;
}

/* GUIDE PAGE */

.guide-article {

    width: 100vw;
    margin-bottom: 10px;
}

.guide-article p {
    text-align: justify;
    margin-top: 12px;
}

.guide-article img {
    border: 1.5px solid burlywood;
}

.guide-img {
    height: 20vh;
    width: 40vw;
    margin-bottom: 6px;
    border: 2px solid burlywood;
}

.btn-guide {
    margin: 10px auto 20px auto;
    font-size: small;
}

.guide-dropdown {
    margin: 20px auto 30px auto;
    width: 100%;
}

.dropdown-menu {
    width: 250px;
    margin-left: -85px;
    text-align: center;
    background-color: black;
    border: 2px solid burlywood;
    padding: 0;
}

.dropdown-item {
    color: lightgray;
    padding: 7 auto;
}

#firstDropdownItem {
    border-top: 0;
}

#firstArticle {
    background: url("../images/dragon-small.jpg");
    background-position: bottom middle;
    background-repeat: no-repeat;
    background-size: cover;
}

/* FOOTER */

footer {
    background-color: black;
    /* border-top: 1px solid burlywood; */
}

.btn-footer {
    color: lightgray;
    font-weight: lighter;
    font-size: small;
    box-shadow: none;
    padding: 12px 0px;
}

.btn-footer:active,
.btn-footer:hover {
    color: burlywood;
    box-shadow: none;
}

.btn-footer:focus {
    box-shadow: none;
}

.btn-footer:visited {
    color: lightgray;
    box-shadow: none;
}

.modal-dialog {
    position: absolute;
    bottom: 10vh;
    width: 100vw;
    margin: 0 10%;

}

.modal-body {}

.modal-content {
    border: 1px solid burlywood;
    border-radius: 3px;
    font-size: small;
    background-color: black;
    color: lightgray;
    width: 80%;
}


/* MEDIA QUERIES */

/* fix nav dropdown bg-img issue */
@media only screen and (max-width: 300px) {
    .nav-img {background-image: none;}
}

/* PHONE */
@media only screen and (max-width: 576px) {
    .modal-dialog {max-width:none;}
}

@media only screen and (min-width: 577px) {
    .modal-dialog {max-width:60%; right: 10vw;}
}

/* TABLET */
@media only screen and (min-width: 768px) {
    body {font-size: medium;}
    nav {height: 145px;}
    header {background-position: left;}
}

/* PC */
@media only screen and (min-width: 1200px) {
    
}